<head>
	<title>BOMBAcamp, Campus de Emprendedores</title>
</head>
<body>
	<div class="jumbotron" style="background-image:url(http://i989.photobucket.com/albums/af11/Mijael_Feldman_Sabah/81c04716-95df-48e7-b5a7-bbdb37835075_zps86a0cc9f.jpg);height:500px">
		<div class="container">
			<div class="row">
				<h1 class="text-left">Transforma tu Idea en una Startup en </h1>
				<h1>5 Semanas</h1>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col">
							<p>Programa de aceleración para Startups para aumentar tus probabilidades de éxito en 5 semanas</p>
							<div class="row">
								<div class="col-md-8">
									<div class="btn-group">
										<%= link_to('Aprende más', programa_path, :class=> 'btn btn-warning btn-lg') %>
										<%= link_to('Postula Aqui', programa_path, :class=> 'btn btn-default btn-lg') %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<div>
		<div class="container"> 
			<div class="row">
				<div class="ol-md-8 col-md-offset-2">
					<h2>BOMBA 5 es un programa de aceleración de 5 semanas de tiempo parcial para construir tu Startup y conseguir tus primeros clientes.
					</h2>
					<br>
					<h1><b>Que pasa en 5 Semanas?</b></h1>
					<h2>Experiment Thinking</h2>
					<p>Esto es acerca de pensar como un científico. Mientrás más rápido experimentes, más aprenderás y gastarás menos dinero y tiempo en encontrar el producto qeu tus clientes amen.
					</p>
					<h2>Lean Canvas</h2>
					<p>Lo que tienes hoydia como idea son solo hipótesis que están esperando ser validadas. Construye tu canvas y encuentra las hipótesis que más tarde saldrás a testear a la calle con tus clientes.
					</p>
					<h2>Customer Development</h2>
					<p>No hay plan que aguante el primer contacto con tus clientes. Todas esas hipótesis que pusiste en tu canvas serán invalidadas cuando converses con tus clientes. Mientras más rápido salgas a la calle y converses con ellos, menos tiempo desperdiciarás construyendo el producto equivocado.
					</p>
					<h2>Product Development</h2>
					<p>Ya validaste un problema de un segmento específico, ahora es el momento de comenzar a construír la solución que tus clientes amarán. Prototípos y MVP será tu alimento en esta etapa.
					</p>
					<h2>DemoDay</h2>
					<p>Aprende como levantar inversión de Inversionistas Ángeles! No es necesario levantar millones de dólares, solo necesitas lo suficiente para hacer tus próximos experimentos. Si avanzaste bien durante las 5 semanas, podrás entrar a BOMBAstars y recibir $25.000 dólares de inversión para acerlrerarte por 3 meses con BOMBAcamp.
					</p>
				</div>
				<div class="col-md-10 col-md-offset-2">
					<%= image_tag("test.png", :alt => "test feed" ,:style=> "width: 100%") %>
				</div>
			</div>	
		</div>			
	</div>
</body>