<head>
	<title>Mentores de BOMBAcamp</title>
</head>
<body>
	<div style="background-color:green; height:500px">
		<h1 style="color:white">Mentores de BOMBAcamp</h1>
		<p>Los mentores de BOMBAcamp te ayudarán a avanzar con tu Startup en esos momentos difíciles! Todos son emprendedores que han construido sus startups usando Lean Startup y han estado en tu posición!</p>
	</div>
</body>